#counter {
  text-align: center;
  margin: 50px auto;
  display: block;
  font-size: 2em;
  color: #282828;
}
@media (max-width: 500px) {
  #counter {
    font-size: 1.5em;
  }
}
#counter span,
#counter i {
  display: inline-block;
  vertical-align: middle;
}
#counter span {
  font-family: sans-serif;
  text-align: center;
  min-width: 45px;
  text-rendering: optimizeLegibility;
  position: relative;
  background-color: black;
  margin: 0 2px;
  padding: 5px;
  color: white;
  border-radius: 5px;
  border: 1px solid black;
  text-shadow: 0 0 2px black;
}
#counter span.days {
  margin-right: 20px;
}
#counter span.days:before {
  content: "DAYS";
}
#counter span.hours:before {
  content: "HOUR";
}
#counter span.minutes:before {
  content: "MIN";
}
#counter span.seconds:before {
  content: "SEC";
}
#counter span:before {
  top: -20px;
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  color: black;
  font-size: 0.35em;
  text-shadow: none;
}
#counter span:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  margin-top: 0.5px;
  background-color: black;
}
#counter i {
  font-style: normal;
}
