<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/count.css">
</head>
<body>

<div id="formbackground" style="position:absolute; width:100%; height:100%; z-index:-1">
<img src="static/img/bg.png" height="100%" width="100%"/>
</div>

<div class="title-wrap">
   <img src="static/img/title1.png" class="title1">
   <img src="static/img/title2.png" class="title2">
</div>
<div id="counter">
    <span class="days"></span>
    <span class="hours"></span>
    <span class="minutes"></span>
    <span class="seconds"></span>
</div>

<div class="ticket-wrapper">
    <h3 class="ticket-title">G-STEPS 3周年公演入场票</h3>
    <img src="static/img/ticket.png" class="ticket" alt="">
</div>

<div class="exchange-wrapper">
    <p>你还差<span class="remain_cheer_num">{{ remain_cheer_num }}</span>人加油即可兑换</p>
</div>

<div class="button-wrapper">
    <button class="btn btn-help">让盆友帮忙兑票</button>
    <p class="want-tips" style="display:none">发送给盆友的方法：点击右上角分享，你懂的!</p>
</div>

<div class="footer">
<a href="#">360G-STEPS街舞社</a>|<a href="#">360员工关怀</a>
</div>



<!-- 剩余加油个数个数:{{remain_cheer_num}}-->


{% if remain_cheer_num<=0%}
<!-- 集齐赞的状态-->
<!-- 在这里嵌入相应的html即可-->

{% elif  remain_cheer_num<20 %}
<!--已经被加油但是还未集齐的状态 -->

{% elif  remain_cheer_num>=20 %}
<!-- 还未开始被加油的状态-->

{% endif%}


<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="static/js/main.js"></script>

<script>
    $(".btn-help").on('click', function(){
        $(".want-tips").show();
    })
</script>
</body>
</html>